*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

/*responsive navbar (sumber : ngikutin tutorial di youtube, diubah sesuai kebutuhan)*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.logo{
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

.menu-btn{
    display: none;
    cursor: pointer;
}

.menu-btn div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
    .foto{
        width: 30%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 52vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 1;
      }
    .nav-links li{
        opacity: 0;
    }
    .menu-btn{
        display: block;
    }
    .foto{
        width: 50%;
    }
    .box2content{
        width: 90%;
        flex-direction: column;
    }
    .myStory{
        padding-bottom: 5%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1; 
        transform: translateX(0px);
    }
}

.toggle .grs-1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .grs-2{
    opacity: 0;
}

.toggle .grs-3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/*page box*/

.box1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("./img/background.jpg");
    background-position: center;
    background-size: 100%;
}

.box1content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 85%;
    text-align: center;
}

.box2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box2content{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15%;
}

.section2{
    position: absolute;
    text-decoration: none;
    color: #0e39ba;
    top: 93%;
}

.github .twitter .linkedin{
    width: 2px;
    height: 2px;
}

.sosmed{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logoSosmed{
    width: 150%;
    justify-content: space-around;
    display: flex;
    margin-top: 20px;
}
